<p>Dear {{vil.hospitalName}}, <br/><br/> Greetings from {{vil.company}}!!<br/><br/> Kindly give us VIL for Patient <strong> {{vil.patientName}} (Passport number is {{vil.passportNumber}}) </strong> from {{vil.country}}
    <br/><br/> {{# vil.attendant}} Attendant - {{attendantname}} from {{country}}
    <br/><strong>(Passport Number {{attendantpassportnumber}})</strong><br>{{/ vil.attendant}}
    <br/>
    <br/><br/> {{# vil.donor}} Donor - {{donorname}} from {{country}}
    <br/><strong>(Passport Number {{donorpassportnumber}})</strong><br>{{/ vil.donor}}
    <br/><br/>

    <strong>Passport copy is attached for your reference.</strong><br/><br/> We will look forward for the same as soon as possible.<br/><br/>

</p>