<html>

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <p>Dear Sir, <br/><br/> We have recieved the query from <strong>{{patient.0.patientcountry}}</strong> by <strong>{{patient.0.patientrefferalpartner.name}}</strong><br/><br/> Patient name is <strong>{{patient.0.patientname}}</strong>, looking for opinion
        for
        <strong>{{patient.0.patienttreatment}}</strong>
        <br/><br/> We have assigned the query to below hospitals and their team<br/><br/>

    </p>
    <table>
        <tr>
            <th>Hospital Name</th>
            <th>To Employee</th>
            <th>CC Employee</th>
            <th>To Doctor</th>
            <th>CC Doctor</th>

        </tr>
        {{# patient}}
        <tr>
            <td>{{hospitalname}}</td>
            <td>{{#email.executivesto}}{{emailid}}&nbsp;&nbsp;{{/email.executivesto}} </td>
            <td>{{#email.executivescc}}{{emailid}}&nbsp;&nbsp; {{/email.executivescc}} {{^email.executivescc}}- {{/email.executivescc}}</td>
            <td>{{#email.doctorsto}}{{emailid}}&nbsp;&nbsp; {{/email.doctorsto}} {{^email.doctorsto}}-{{/email.doctorsto}}</td>
            <td>{{#email.doctorscc}}{{emailid}}&nbsp;&nbsp; {{/email.doctorscc}} {{^email.doctorscc}} - {{/email.doctorscc}}</td>

        </tr>
        {{/patient}}
    </table><br/><br/> Kindly take a note of that
    <br/><br/> Thanks
    <br/><br/>
</body>

</html>