<p>Dear {{vil.hospitalname}}, <br/><br/> Greetings from {{vil.company}}!!<br/><br/> <strong>Remarks:</strong> {{vil.remarks}}<br/><br/> Kindly give us VIL for Patient <strong> {{vil.patientname}} (Passport number is {{vil.passportnumber}}) </strong> from
    {{vil.country}}
    <br/><br/> Please note that the following attendant or Donor will travel along with the Patient.<br><br> {{# vil.attendant}} Attendant - {{attendantname}} from {{country}}
    <br/><strong>(Passport Number {{attendantpassportnumber}})</strong><br>{{/ vil.attendant}}
    <br/>
    <br/><br/> {{# vil.donor}} Donor - {{donorname}} from {{country}}
    <br/><strong>(Passport Number {{donorpassportnumber}})</strong><br>{{/ vil.donor}}
    <br/><br/> Medical history or any notes are mentioned below for your reference. <br><br>
    <strong>Medical History:</strong> {{vil.medicalhistory}}<br><br> Kindly note that patient will apply for medical visa at {{vil.embassyName}} and appointment on {{vil.dateofAppointment}}<br><br>

    <strong>Please Address VIL to below details:</strong><br> {{# vil.embassyAdd}} {{.}}<br> {{/vil.embassyAdd}}<br><br>

    <strong>Passport copy is attached for your reference.</strong><br/><br/> We will look forward for the same as soon as possible.<br/><br/>

</p>